@font-face {
  src: url("../fonts/Exo-Medium.ttf");
  font-family: "Exo"
}

html, body {
    margin: auto;
    padding: 0;
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  max-width: 1200px;
}

.CTA-button {
  font-family: 'Exo';
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50px;
  height: 45px;
  width: 140px;
  color: white;
  margin: 0 auto;
  transition-duration: 1s;
}

  @media(min-width: 576px) {
    .CTA-button {
      margin: 0 180px;
    }
  }

.CTA-button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.vex-content {
  background: transparent !important;
}

.vex-dialog-message {
  font-family: 'Exo';
  font-size: 36px;
  color: white;
}

.vex-dialog-buttons {
  display: none;
}

.modal-subtitle {
  font-family: 'Exo';
  font-size: 17px;
  color: white;
  opacity: 0.7
}

.modal-subtitle-2 {
  font-family: 'Exo';
  font-size: 12px;
  color: white;
  opacity: 0.7
}

.modal-socials {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 200px;
}

.modal-socials img {
  height: 60px;
  width: 60px;
  opacity: 0.7;
  margin: 25px;
}

.sound-icon-2 {
  position: absolute;
  width: 17px;
  height: 17px;
  margin-left: 40px;
  margin-top: 25px;
  opacity: 0
}

.sound-icon-2 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blurAll {
  filter: blur(30px);
  transition-duration: 2s;
}

.blur {
  transition-duration: 2s;
}

.gradient-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%);
  z-index: 99;
}

.gradient-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(360deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 60%);
  z-index: 99;
}

.jvectormap-zoomin,.jvectormap-zoomout {
  display: none;
}

.bar {
  -webkit-transform-style: preserve-3d;
  transition-duration: 0.1s;
}

.navbar {
  top:0;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  z-index: 999;
  height: 20px;
}

.new-menu-container {
  display: none;
  transition-duration: 2s;
  opacity: 0;
  visibility: hidden;
}

@media(min-width: 576px) {
  .new-menu-container {
    display: inline-block;
    background-image: url('../assets/MainMenuBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 200px;
    margin-top: 50px;
    margin-right: 26px;
    transition-duration: 2s;
    opacity: 0;
    visibility: visible;
  }
}

.bottom-menu-container {
  background-image: none;
  height: 100px;
  width: 100vw;
  margin-top: -20px;
  margin-right: 0px;
  display: flex;
  justify-content: space-around;
  opacity: 0;
}

@media(min-width: 576px) {
  .bottom-menu-container {
    background-image: url('../assets/BottomMenu.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-top: -160px;
    margin-right: 26px;
  }
}

.bottom-menu-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-top: 45px;
  transform: scale(0.7);
  opacity: 0.7;
}

@media(min-width: 576px) {
.bottom-menu-buttons {
  position: absolute;
  margin-left: 60px;
  margin-top: 150px;
  transform: scale(0.7);
  }
}

  .menu {
    font-family:'Exo';
    font-weight: 500;
    font-size: 12px;
    color: white;
    list-style: none;
    padding-top: 140px;
    margin-left: 70px;
    opacity: 0;
  }

.scroll-to-element {
  height:20px;
}

.menu ul {
  list-style: none;
  padding-left: 10px;
  width: 100px;
}

@media (min-width: 576px) {
  .menu ul {
    list-style: none;
    padding-left: 0px;
  }
}

.menu li {
  transform-origin: top left;
  transition-duration: 0.1s;
}

.menu a {
    color: white;
    text-decoration: none;
}


  .logo {
    display: inline-block !important;
    opacity:0;
    position: fixed;
    margin-left: 65px;
    margin-top: 40px;
    width: 80px;
  }

  .logo-mobile {
    display: inline-block !important;
    opacity:1;
    position: fixed;
    margin-left: 20px;
    /* left: 50%;
    transform: translateX(-50%); */
    margin-top: 40px;
    width: 80px;
    z-index: 999;
  }

  @media (min-width: 576px) {
    .logo-mobile {
      display: none !important;
    }
  }


.logo:hover {
  cursor: pointer;
}


.download-button {
  width: 0px;
}

@media (min-width: 576px) {
  .download-button {
    display: inline-block;
    text-align: center;
    opacity:0;
    position: fixed;
    right: 0;
    width: 110px;
    margin-right: 75px;
    margin-top: 75px;
  }
}

.login-capsule {
  position: relative;
  display: flex;
  font-family: 'Exo';
  color: white;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  font-size: 13px;
  height: 30px;
  width: 100px;
  padding: 5px 0px 5px 10px;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 999;
  opacity: 1;
  transition-duration: 2s;
}

@media (min-width: 576px) {
  .login-capsule {
    position: absolute;
    display: flex;
    font-family: 'Exo';
    color: white;
    align-items: center;
    justify-content: space-between;
    bottom: 50px;
    font-size: 13px;
    height: 30px;
    width: 100px;
    padding: 5px 0px 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    z-index: 999;
    opacity: 1;
    transition-duration: 2s;
  }
}

.login-link {
  text-decoration: none;
  color: white;
}


.download-button:hover {
  cursor: pointer;
}

.download-button svg {
  fill: none;
}

.div-1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 1;
}

.main-title-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: "Exo";
  color: white;
}

.main-title-container p:nth-child(1) {
  opacity:0;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  padding-left: 0px;
}

@media(min-width: 576px) {
  .main-title-container p:nth-child(1) {
    opacity:0;
    position: relative;
    font-size: 45px;
    font-weight: bold;
    padding-left: 60px;
  }
}

.main-title-container p:nth-child(2) {
  opacity:0;
  position: relative;
  font-size: 20px;
}

@media (min-width: 576px) {

  .main-title-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: "Exo";
    color: white;
  }

  .main-title-container p:nth-child(1) {
    opacity:0;
    position: relative;
    font-size: 45px;
    font-weight: bold;
  }

  .main-title-container p:nth-child(2) {
    opacity:0;
    position: relative;
    font-size: 30px;
  }
}

.main-screen-container {
  opacity: 0;
  display: block;
  margin: auto;
  border-radius: 35px;
  background-color: black;
  background-image: url("../bgnewlife.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 440px;
  width: 250px;
  overflow: hidden;
  transform: scale(1.3);
  box-shadow: 0px 0px 50px rgba(255,255,255, 0.3);
}

@media (min-width: 576px) {
  .main-screen-container {
    opacity: 0;
    display: block;
    margin: auto;
    border-radius: 35px;
    background-color: black;
    background-image: url("../bgnewlife.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 440px;
    width: 250px;
    overflow: hidden;
    transform: scale(1.6);
    box-shadow: 0px 0px 50px rgba(255,255,255, 0.3);
  }
}

.div-2 {
  background-color: black;
  opacity: 1;
  width: 100%;
}

.div-3 {
  position: relative;
  margin: 0px 0px 0px 0px;
  height: 70vh;
  background-color: transparent;
  opacity: 1;
}

@media (min-width: 576px) {
  .div-3 {
    position: relative;
    margin: 250px 0px 0px 0px;
    height: 100vh;
    background-color: transparent;
    opacity: 1;
  }
}

.div-3 .text-block {
  position: absolute;
  height: 100px;
  width: 90%;
  left: 50%;
  top: 50%;
  font-family: 'Exo';
  font-size: 25pt;
  color: white;
  transform: translate(-50%,-50%);
  z-index: 1;
  padding-left: 40px;
}

@media (min-width: 576px) {
  .div-3 .text-block {
    position: absolute;
    height: 200px;
    width: 71%;
    left: 50%;
    top: 50%;
    font-family: 'Exo';
    font-size: 53pt;
    color: white;
    transform: translate(-50%,-50%);
    line-height: 75px;
    z-index: 1;
    padding-left: 0;
  }
}

.div-3 .images div:nth-child(n) {
  border-radius: 25px;
  overflow: hidden;
  width: 100px;
}

@media (min-width: 576px) {
  .div-3 .images div:nth-child(n) {
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
  }
}

.div-3 div:nth-child(n) img {
  height: 100%;
  width: 100%;
}

.div-5 .images div:nth-child(n) {
  border-radius: 25px;
  overflow: hidden;
  width: 100px;
}

@media (min-width: 576px) {
  .div-5 .images div:nth-child(n) {
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
  }
}

.div-5 div:nth-child(n) img {
  height: 100%;
  width: 100%;
}

.div-3-img1 {
  position: absolute;
  top: 200px;
  margin-left: 35px;
  transform-origin:'50% 50%';
  transform: scale(1.5);
}

.div-3-img2 {
  position: absolute;
  top: 200px;
  right: 35px;
  transform-origin:'50% 50%';
  transform: scale(1.5);
}

.div-5-img1 {
  position: absolute;
  top: 200px;
  margin-left: 35px;
  transform-origin:'50% 50%';
  transform: scale(1.5);
}

.div-5-img2 {
  position: absolute;
  top: 200px;
  right: 35px;
  transform-origin:'50% 50%';
  transform: scale(1.5);
}


@media (min-width: 576px) {
  .div-3-img1 {
    position: absolute;
    top: 200px;
    margin-left: 0px;
    transform-origin:'50% 50%';
    transform: scale(1.5);
  }
  
  .div-3-img2 {
    position: absolute;
    top: 200px;
    right: 0;
    transform-origin:'50% 50%';
    transform: scale(1.5);
  }
  
  .div-5-img1 {
    position: absolute;
    top: 200px;
    margin-left: 0px;
    transform-origin:'50% 50%';
    transform: scale(1.5);
  }
  
  .div-5-img2 {
    position: absolute;
    top: 200px;
    right: 0;
    transform-origin:'50% 50%';
    transform: scale(1.5);
  }
  
}


.div-4 {
  position: relative;
  margin-bottom: 150px;
  width: 100%;
}

@media (min-width: 576px) {
  .div-4 {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 0px;
  }
}

.div-5 {
  position: relative;
  margin: 0px 0px 0px 0px;
  height: 70vh;
  background-color: transparent;
  opacity: 1;
}

@media (min-width: 576px) {
  .div-5 {
    position: relative;
    margin: 250px 70px 0px 20px;
    height: 100vh;
    background-color: transparent;
    opacity: 1;
  }
}

.div-4 .plyr {
  opacity: 1;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
  width: calc(100vw - 25px);
}

/* PLYR COLOURS */

.plyr__controls {
  display: none;
}

/* @media (min-width: 768px) {
  .plyr__controls {
  display: none;
}
} */

.plyr__control--overlaid {
  background-color: #b2ff59;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true]
{
  background: #b2ff59;
}

.plyr__control.plyr__tab-focus {
  box-shadow: #b2ff59;
}

.plyr--full-ui input[type=range] {
  color: #b2ff59;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: inline-block;
}

@media (min-width: 768px) {
  .plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: none;
  }
}

.div-5 .text-block2 {
  position: absolute;
  height: 100px;
  width: 90%;
  left: 50%;
  top: 50%;
  font-family: 'Exo';
  font-size: 25pt;
  color: white;
  transform: translate(-50%,-50%);
  z-index: 1;
}

@media (min-width: 576px) {
  .div-5 .text-block2 {
    position: absolute;
    height: 200px;
    width: 71%;
    left: 50%;
    top: 50%;
    font-family: 'Exo';
    font-size: 53pt;
    color: white;
    transform: translate(-50%,-50%);
    line-height: 75px;
    z-index: 1;
  }
}

.div-6 {
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 150px;
}

@media (min-width: 576px) {
  .div-6 {
    position: relative;
    height: 100vh;
    width: 100%;
    margin-bottom: 180px;
  }
}

.div-6 .text-block {
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  font-family: 'Exo';
  font-size: 25pt;
  color: white;
  z-index: 1;
  margin-left: 25px;
}

@media(min-width: 576px) {
  .div-6 .text-block {
    position: relative;
    width: 70%;
    left: 0;
    top: 0;
    font-family: 'Exo';
    font-size: 53pt;
    color: white;
    z-index: 1;
    margin-left: 160px;
  }
}

.title {
  display: none;
}

@media (min-width: 576px) {
  .title {
    display: inline-block;
  }
}

.left-title1 {
  position: absolute;
  letter-spacing: 2px;
  opacity: 0;
  margin-top: 465px;
  left: calc(50% - 5px);
  font-family: "Exo";
  font-size: 17px;
  color: white;
}

.left-title2 {
  position: absolute;
  letter-spacing: 2px;
  opacity: 0;
  margin-top: 1265px;
  left: calc(50% - 5px);
  font-family: "Exo";
  font-size: 17px;
  color: white;
}

.left-title3 {
  position: absolute;
  letter-spacing: 2px;
  opacity: 0;
  margin-top: 2065px;
  left: calc(50% - 5px);
  font-family: "Exo";
  font-size: 17px;
  color: white;
}

.right-title-1 {
  position: absolute;
  opacity: 0;
  margin-top: 615px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-2 {
  position: absolute;
  opacity: 0;
  margin-top: 615px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-3 {
  position: absolute;
  opacity: 0;
  margin-top: 615px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-4 {
  position: absolute;
  opacity: 0;
  margin-top: 1415px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-5 {
  position: absolute;
  opacity: 0;
  margin-top: 1415px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-6 {
  position: absolute;
  opacity: 0;
  margin-top: 1415px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-7 {
  position: absolute;
  opacity: 0;
  margin-top: 2215px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-8 {
  position: absolute;
  opacity: 0;
  margin-top: 2215px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.right-title-9 {
  position: absolute;
  opacity: 0;
  margin-top: 2215px;
  left: calc(50% + 10px);
  font-family: "Exo";
  font-size: 18px;
  color: white;
  min-width: 300px;
}

.thumbnail {
  opacity: 0;
  position: fixed;
  width: 400px;
  height: 200px;
  background-color: white;
  right: 0;
  top: 50%;
  border-radius: 25px;
  z-index: 999;
}


.invite-capsule-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:100vw;
  max-width: 1200px;
  bottom: 0;
  z-index: 999;
}

@media (min-width: 576px) {
  .invite-capsule-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:inherit;
    max-width: 1200px;
    top: calc(100vh - 65px);
    z-index: 999;
  }
}

.download-apple {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.download-google {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.download-buttons {
  position: relative;
  margin-top: 45px;
  margin-left: 40px;
}

@media (min-width: 576px) {
  .download-buttons {
    position: absolute;
    margin-top: 30px;
    margin-left: 70px;
    opacity: 0.5
  }
}

  .invite-capsule {
    position: relative;
    display: flex;
    font-family: 'Exo';
    color: #b2ff59;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    font-size: 17px;
    height: 30px;
    width: 100px;
    padding: 20px 0px 5px 10px;
    z-index: 999;
    opacity: 0;
    transition-duration: 2s;
    border: 2px solid white;
    border-radius: 50px;
  }

  @media(min-width: 576px) {
    .invite-capsule {
      position: absolute;
      display: flex;
      font-family: 'Exo';
      color: #b2ff59;
      align-items: center;
      justify-content: space-between;
      bottom: 0;
      font-size: 17px;
      height: 30px;
      width: 100px;
      margin-right: 0px;
      padding: 5px 0px 5px 20px;
      border: 1px solid #b2ff59;
      border-radius: 50px;
      z-index: 999;
      opacity: 0;
      transition-duration: 2s;
    }
  }

  .invite-capsule:hover {
    background-color: rgb(178, 255, 89, 0.3);
    transition-duration: 2s;
    cursor: pointer;
  }

.login-pill {
  width: 5px;
  height: 80%;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
}


.sound-icon {
  margin-left: 30px;
  height: 30px;
  width: 30px;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 576px) {
  .sound-icon {
    margin-left: 80px;
    height: 50px;
    width: 50px;
    opacity: 0;
  }
}

#div7,#div8,#div9 {
  height: 100vh;
}

footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  margin: auto;
  margin-bottom: 130px;
  width: 60%;
  color: white;
  font-size: 25px;
  font-family: 'Exo';
  line-height: 36px;
}

@media(min-width: 576px) {
  footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin: auto;
    margin-bottom: 130px;
    width: 60%;
    color: white;
    font-size: 17px;
    font-family: 'Exo';
  }
}

.sub {
  text-align: center;
}

@media(min-width: 576px) {
  .sub {
    text-align: left;
  }
}

.undersub {
  font-size: 17px;
  opacity: 0.8;
}

.text-block-bis {
  box-sizing: border-box;
  color: white;
  font-size: 26px;
  padding: 0px 40px 0px 40px;
  font-family: 'Exo';
  font-weight: 500;
  line-height: 44px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.text-block-bis img {
  max-width: 100%;
}

.text-block-bis-body {
  color: white;
  font-size: 24px;
  font-family: 'Exo';
  opacity: 0.8;
}

@media(min-width: 576px) {
  .text-block-bis {
    color: white;
    font-size: 26px;
    margin-left: 140px;
    margin-bottom: 80px;
    margin-top: 80px;
    font-family: 'Exo';
    font-weight: 500;
    line-height: 44px;
    max-width: 620px;
  }
  
  .text-block-bis-body {
    color: white;
    font-size: 24px;
    font-family: 'Exo';
    opacity: 0.8;
  }
}

.mobilebar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media(min-width: 576px) {
  .mobilebar {
    display: none;
  }
}

.venoframe {
  background-color: transparent !important;
  overflow: hidden !important;
}